@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Ubuntu:ital@1&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Gentium Book Plus', serif;
}
section{
    min-height:100vh;
    display: flex;
    margin:auto;
    justify-content: space-around;
    width:80vw;
    flex-wrap: wrap;
}
h2{
    font-family: 'Ubuntu', sans-serif;
}
.parent{
    min-width:320px;
    max-width:46%;
    text-align: center;
    position: relative;
    margin:5px;
}
.parent img{
    width:150px;
    position: absolute;
    top:50px;
    left:50%;
}
.left img{
    animation: swim1 2s ease-out alternate infinite;
}
.right img{
    animation: swim2 2s ease-out alternate infinite;
    left:50%;
    top:55px;
}
@keyframes swim1 {
    0%{
        transform: translate(-50%,-50%) rotateY(180deg) rotate(7deg);
    }
    100%{
        transform: translate(-50%,-50%) rotateY(180deg) rotate(-7deg);
    }
}
@keyframes swim2 {
    0%{
        transform: translate(-50%,-50%)rotate(-7deg);
    }
    100%{
        transform: translate(-50%,-50%)rotate(7deg);
    }
}

.content{
    width:30vw;
    /* height:100%; */
    object-fit: cover;
}
.parent .content{
    box-sizing: border-box;
    padding: 5px;
    margin: 100px 5px 5px 5px;
    border-top:2px solid #aa721e;
    transform-origin: center -55px;
}
.left .content{
    animation: hang1 2.5s ease-out alternate infinite;
}
.right .content{
    animation: hang2 2s ease-in alternate infinite;
}
.parent .content::before{
    position: absolute;
    content:'';
    top:-54px;
    width:8px;
    left:50%;
    height:8px;
    border-radius:5px;
    background: radial-gradient( #ff8800, #ffab2e);
}
.parent .content::after{
    position: absolute;
    content: '';
    width:8px;
    top:-55px;
    height:52px;
    border:1px solid #aa721e;
    background-color: none;
    border-radius: 20% 20% 0 0;
}

@keyframes hang1 {
    0%{
        transform:  rotate(-2deg);
    }
    100%{
        transform: rotate(2deg);
    }
}

@keyframes hang2 {
    0%{
        transform:  rotate(2deg);
    }
    100%{
        transform: rotate(-2deg);
    }
}

@media only screen and (max-width:720px){
    .content{
        width:85vw;
    }
}

/* Skills */
section .contentHeading {
    width:100%;
    text-align: center;
}
section .contentHeading img{
    display: block;
    margin:auto;
}
h2{
    width:0px;
    overflow: hidden;
    animation: lengthChange ease-in 10s alternate infinite;
    display: inline-block;
    transition: width 10s ease-out;
    text-align: left;
}

@keyframes lengthChange {
    to{
        width:0;
    }
    from{
        width: 100px;
    }
    
}
/* End */
/* Education CSS Starts Here*/
.Education{
    display: block;
}


.EducationData{
    width:400px;
    margin:auto;
}
.EducationData>div{
    display:flex;
}

.circle{
    height:6px;
    width:6px;
    border-radius:50%;
    background-color: #aa721e;
    scale:1.4;
    margin:auto;
}
.line{
    margin:auto;
    background-color: #aa721e;
    height:155px;
    width:2px;
}

.InstitutionDetails{
    /* box-sizing: border-box; */
    width:175px;
    width:calc(45% - 3px);
    height:140px;
    padding:10px;
}
.leftEducationBox{
    text-align: right;
}
.rightEducationBox{
    text-align: left;
}
/* Education CSS Starts Here*/